.chatSwiper {
  width: 100% !important;
  margin: 0 auto 0 auto !important;
  /* border-radius: 99px !important; */
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  /* background-color: red !important; */
}

.chatSwiperSlide {
  width: 100% !important;
  height: 100% !important;
  /* background: #000; */
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
}

@media (max-width: 1280px) {
  .chatSwiper {
    width: 100% !important; 
    border-radius: 0 !important; 
    /* background-color: red; */
    border-radius: 99px !important;
  }
}

/* @media (width <= 640px) {
  .mySwiper {
    width: 300px  !important;
    height: 65px  !important;
    margin: 0 auto  !important;
    border-radius: 99px !important;
    background-color: red;
  }
}

@media (width <= 320px) {
  .swiper-slide {
    width: 100% !important;
    height: 100%  !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (width <= 1280px) {
  .mySwiper {
    width: 300px  !important;
    height: 65px  !important;
    margin: 0 auto  !important;
    border-radius: 99px !important;
  }
} */