#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 35%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);

  /* height: 300px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}
