#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 70%;
  background-color: rgba(200, 200, 200, 0.1);
  margin-top: 3rem;
  border-radius: 25px;;
  padding-top: 2%;
  padding-bottom: 2%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 35%;
  box-shadow: 4px 8px 50px 5px rgba(0, 0, 0, 0.5);

  /* height: 300px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}
