#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.gameSwiper {
  width: 90% !important;
  height: auto !important;
  background-color: rgba(200, 200, 200, 0.1) !important;
  margin-top: 1rem !important;
  border-radius: 25px !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.swiperSlide {
  background-position: center !important;
  background-size: cover !important;
  width: 35% !important;
  box-shadow: 4px 8px 50px 5px rgba(0, 0, 0, 0.5) !important;

  height: 100% !important;
}

.swiperSlide img {
  display: block !important;
  width: 100% !important;
}

@media screen and (min-width: 2560px) {
  .gameSwiper {
     padding: 40px !important;
  }
  
}
